<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Image Comparison Detector</title>
</head>
<style>
    h1, h3, button {
        margin: 30px;
    }
</style>
<body>
    <div class="container">

        <h1>Image Comparison Detector</h1>
        <div class="row justify-content-around">
            <button type="button" class="btn btn-secondary btn-lg">Upload First Dataset</button>
            <button type="button" class="btn btn-secondary btn-lg">Upload Second Dataset</button>
        </div>
        <button type="button" class="btn btn-primary btn-lg btn-block">Generate Result</button>
        <h3 align="center">Try The Default Dataset</h3>
        <button type="button" class="btn btn-primary btn-lg btn-block">Generate Result</button>
    </div>
</body>
</html>